body {
  font-family: 'Open Sans', sans-serif;
}
.navbar-brand {
  color: #f2ad73;
  font-family: 'Poppins', sans-serif;
}
.navbar-brand span {
  color: #db3635;
}
.card-body a {
  color: black;
}
.social-media a {
  color: black;
}
.card-category {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0 auto;
}
.card-category .card-text {
  color: #3f3d56;
}
.card .btn-read {
  background: #db3635;
  color: white;
  border: 2px solid #db3635;
}
.card .btn-read:hover {
  background: white;
  color: #db3635;
  border: 2px solid #db3635;
  transition: 0.5s;
}
.carousel-item img {
  border-radius: 20px;
  height: 300px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .card-category {
    margin: 0 20px;
  }
}
@media only screen and (min-width: 992px) {
  .carousel-item img {
    width: 50%;
  }
}
