body {
  font-family: "Open Sans", sans-serif;
}



/* navbar */
.navbar-brand {
  color: #f2ad73;
  font-family: 'Poppins', sans-serif;
}
.navbar-brand span {
  color: #db3635;
}

/* carousel */
#carouselExample{
  background-color: #F1F1F1;
}

.carousel-banner img {
  border-radius: 55px;
  height: 232px;
  width: 1000px;
}

/* button */
.card .btn  {
  background-color: #DB3635;
}

.btn-arrow-left{
  border: none;
  background-color: transparent;
}
.btn-arrow-right{
  border: none;
  background-color: transparent;
}

.btn{
  font-family: "Open Sans",sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  
  
  
}


/* card */


/* footer */
footer{
  background-color: #f2ad73;
}